body {
  background-image: url(images/n.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  
}

h1 {
  font-size: 5rem;
  color: rgb(0, 50, 66);
  font-family: 'Pacifico', cursive;
  text-shadow: 3px 0 rgb(234, 3, 255);

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {

}

.a {

}

.s {

}

.d {

}

.j {

}

.k {

}

.l {

}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 2px solid #404B69;
  font-size: 4rem;
  font-family: 'Pacifico', cursive;
font-family: 'Righteous', cursive;
  line-height: 2;
  font-weight: 900;
  color: rgb(12, 153, 209);
  text-shadow: 3px 0 rgb(234, 3, 255);
  border-radius: 100px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color:white;
}
